* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: auto;
  align-items: center;
  width: 50%;
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: rgb(254, 252, 252);
  padding: 10px 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Manrope";

}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 18px;
  color: #000000;
}

p,
#span2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
}

.containerdiv {
  font-family: "Manrope";
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 279px;
  margin-top: 93px;
}

#span1 {
  text-decoration-line: underline;
  color: #1348d0;
}

/* .pad {
  margin-bottom: 24px;
  text-align: center;
} */
#fg {
  text-decoration: none;
  color: #1348d0;
  padding-top: 18px;
  height: 24px;
}

#para1 {
  width: 600px;
  height: 60px;
  text-align: center;
  padding-top: 14px;
}

input {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

input:focus {
  color: #bcbcbc;
  outline: none;
  border: #000000 2px solid;
}

#togglePassword {
  margin-left: -30px;
}

.marg {
  margin-top: 10px;
  margin-bottom: 10px;
}

#input-marg {
  display: flex;
  justify-content: space-between;
}

#input-marg input {
  width: 295px;
}

#cb {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

#rememberMe {
  width: 32px;
  height: 32px;
  border-radius: 10px !important;
}

#click {
  background-color: #000000;
  border: none;
  width: 600px;
  transition-duration: 0.4s;
  color: #ffffff
}

#click:hover {
  background-color: #414141;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

/* Signin style */
.fg-signup {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#span2 {
  text-decoration: underline;
  color: #000000;
}

/* Forgot password style */
#click2 {
  border-radius: 30px;
  background-color: #000000;
  border: none;
  width: 600px;
  transition-duration: 0.4s;
  color: #ffffff;
  height: 60px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#click2:hover {
  background-color: #414141;
}

.space2 {
  margin-bottom: 50px;
}