<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="top">
            <button class="back-btn", id="back-btn"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
            <div class="top-center">
                <span class="lock-key"><i class="fa-solid fa-unlock-keyhole"></i></span>
                <h3>Sign in</h3>
            </div>
            <button class="close-btn" id="close-btn">&times;</button>
        </div>
        <form action="" method="post">
            {{ form.csrf_token }}

            <div class="center">
                <ul>
                    <div class="center-items">
                        <li>
                            {{form.phone(placeholder="Enter phone number", class="input")}}
                        </li>

                        <li>
                            <div class="password-wrapper">
                                {{ form.password(placeholder="Password", class="passwordInput mg-btm", id="password-input") }}
                                <span><i class="fa-solid fa-eye" id="showPassword"></i></span>
                            </div>
                        </li>
                        
                        <li>
                            {{ form.submit(class="signin") }}
                        </li>
                    </div>
                </ul>
            </div>
        </form>
        <footer>
            <h1>Asambe</h1>
        </footer>
    </div>
    <script>
        const passwordInput = document.getElementById('password-input');
        const showPasswordIcon = document.getElementById('showPassword');
      
        showPasswordIcon.addEventListener('click', function() {
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPasswordIcon.classList.remove('fa-eye');
            showPasswordIcon.classList.add('fa-eye-slash');
          } else {
            passwordInput.type = 'password';
            showPasswordIcon.classList.remove('fa-eye-slash');
            showPasswordIcon.classList.add('fa-eye');
          }
        });
      </script>
</body>
</html>