<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='driver/passengers.css')}}">

</head>
<body>
    <header>
        <h1>Active Passengers</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th class="start">Name</th>
                    <th>Contact</th>
                    <th>Lat</th>
                    <th class="end">Long</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Josh</td>
                    <td>+271234567</td>
                    <td>-1284.83739</td>
                    <td>423.08378</td>
                </tr>
                <tr>
                    <td>Josh</td>
                    <td>+271234567</td>
                    <td>-1284.83739</td>
                    <td>423.08378</td>
                </tr>
                <tr>
                    <td>Josh</td>
                    <td>+271234567</td>
                    <td>-1284.83739</td>
                    <td>423.08378</td>
                </tr>
                <tr>
                    <td>Josh</td>
                    <td>+271234567</td>
                    <td>-1284.83739</td>
                    <td>423.08378</td>
                </tr>
                <tr>
                    <td>Josh</td>
                    <td>+271234567</td>
                    <td>-1284.83739</td>
                    <td>423.08378</td>
                </tr>
                <tr>
                    <td>Josh</td>
                    <td>+271234567</td>
                    <td>-1284.83739</td>
                    <td>423.08378</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Asambe</td>
                </tr>
            </tfoot>
        </table>
    </div>    
</body>
</html>