<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='driver/passengers.css')}}">

</head>
<body>
    <header>
        <h1>Active Passengers</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr >
                    <th class="start" > <small style="opacity: 0;">.</small></th>
                    <th class="name">Name</th>
                    <th>Contact</th>
                    <th>From</th>
                    <th class="end">To</th>
                </tr>
            </thead>
            <tbody>
                {% for passenger in passengers %}
                <tr>
                    <td class="name-img"> 
                        {% if passenger.profile_pic != 'default.jpg' %}
                            <img src="{{url_for('static', filename='img/' ~ passenger.profile_pic)}}" alt="">
                        {% else %}
                            <img src="{{url_for('static', filename='default.jpg')}}" alt="">
                        {% endif %}
                    </td>
                    {% if passenger.profile_visibility %}
                        <td class="name"> {{ passenger.firstname }} {{ passenger.lastname }} </td>
                    {% else %}
                        <td class="name"> <h1>-</h1> </td>
                    {% endif %}
                    {% if passenger.number_visibility %}
                        <td ><h1>-</h1></td>
                    {% else %}
                        <td> {{ passenger.phone }} </td>
                    {% endif %}
                    <td>{{passenger.from_loc}}</td>
                    <td>{{passenger.to}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Asambe</td>
                </tr>
            </tfoot>
        </table>
    </div>    
</body>
</html>