<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='driver/signup.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css">
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="top">
            <button class="back-btn", id="back-btn"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
            <div class="top-center">
                <span class="lock-key"><i class="fa-solid fa-unlock-keyhole"></i></span>
                <h3>Sign up</h3>
            </div>
            <button class="close-btn" id="close-btn">&times;</button>
        </div>
        <form action="" method="post" id="signup-form">
            {{ form.csrf_token }}

            <div class="center">
                <ul>
                    <div class="center-items">
                        <div class="grouped-items">
                            <li>
                                {{ form.firstname(placeholder="First Name", class="grouped-input")}}
                            </li>
                            <li>
                                {{ form.lastname(placeholder="Last Name", class="grouped-input")}}
                            </li>
                        </div>
                        
                        <li> 
                            {{form.phone(placeholder="Phone Number", class="input", id="phone")}}
                            {% if form.phone.errors %}
                                <ul id="phone-errorbox">
                                    {% for error in form.phone.errors%}
                                        <li class="error-text">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        <li>
                            <div class="password-wrapper">
                                <div class="passwd">
                                    {{ form.password(placeholder="Password", class="passwordInput", id="password-input") }}
                                    {% if form.password.errors %}
                                        <ul id="passwd-errorbox">
                                            {% for error in form.password.errors%}
                                                <li class="error-text">{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <span><i class="fa-solid fa-eye" id="showPassword"></i></span>
                            </div>
                        </li>
                        <li>
                            <div class="password-wrapper">
                                <div class="confirm-passwd">
                                    {{ form.confirm_password(placeholder="Confirm Password", class="passwordInput", id="confirmpassword-input") }}
                                    {% if form.password.errors %}
                                        <ul id="confirm-passwd-errorbox">
                                            {% for error in form.password.errors%}
                                                <li class="error-text">{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <span><i class="fa-solid fa-eye" id="showconfirmPassword"></i></span>
                            </div>
                        </li>
                        <li id="newsletter-elemnts">
                            {{ form.newsletter(class="newsletter") }}
                            {{ form.newsletter.label }}
                        </li>

                        <div class="display-trans">
                            {{form.vehicle.label}}
                            <li>
                                <div class="trans-type">
                                    {% for vehicle in form.vehicle %}

                                    <div class="trans">
                                        
                                        {{ vehicle(class="trans-type-icons trans-input") }}
                                        {% if vehicle.data == "bus" %}
                                            <div class="radio-tile">
                                                <i class="fa-solid fa-bus"></i>
                                                <label for="vehicle-{{ loop.index0 }}"></label>
                                            </div>
                                        {% elif vehicle.data == "quantum" %}
                                            <div class="radio-tile">
                                                <i class="fa-solid fa-van-shuttle"></i>
                                                <label for="vehicle-{{ loop.index0 }}"></label>
                                            </div>
                                        {% elif vehicle.data == "quza" %}
                                            <div class="radio-tile">
                                                <i class="fa-solid fa-truck"></i>
                                                <label for="vehicle-{{ loop.index0 }}"></label>
                                            </div>
                                        {% else %}
                                            <div class="radio-tile">
                                                <i class="fa-solid fa-truck-front"></i>
                                                <label for="vehicle-{{ loop.index0 }}"></label>
                                            </div>
                                        {% endif %}
                                    </div>
                                     {% endfor %}
                                </div>                                
                            </li>
                        </div>
                        <li>
                            {{ form.submit(class="signup") }}
                            <a href="{{ url_for('auth.signin')}}"><p id="signin">Sign In instead?</p></a>
                        </li>
                    </div>
                </ul>
            </div>
        </form>
        <footer>
            <h1>Asambe</h1>
        </footer>
    </div>
    <script>
        const passwordInput = document.getElementById('password-input');
        const confirmpasswordInput = document.getElementById('confirmpassword-input');
        const showPasswordIcon = document.getElementById('showPassword');
        const showconfirmPasswordIcon = document.getElementById('showconfirmPassword');
      
        showPasswordIcon.addEventListener('click', function() {
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPasswordIcon.classList.remove('fa-eye');
            showPasswordIcon.classList.add('fa-eye-slash');
          } else {
            passwordInput.type = 'password';
            showPasswordIcon.classList.remove('fa-eye-slash');
            showPasswordIcon.classList.add('fa-eye');
          }
        });

        showconfirmPasswordIcon.addEventListener('click', function() {
          if (confirmpasswordInput.type === 'password') {
            confirmpasswordInput.type = 'text';
            showconfirmPasswordIcon.classList.remove('fa-eye');
            showconfirmPasswordIcon.classList.add('fa-eye-slash');
          } else {
            confirmpasswordInput.type = 'password';
            showconfirmPasswordIcon.classList.remove('fa-eye-slash');
            showconfirmPasswordIcon.classList.add('fa-eye');
          }
        });

        // Add event listener to the back button
        document.getElementById("back-btn").addEventListener("click", function() {
          // Go back to the previous page
          window.history.back();
        });

        // Add event listener to the close button
        document.getElementById("close-btn").addEventListener("click", function() {
          // Redirect to the / URL
          window.location.href = "/";
        });


        //Add event listener the phone box 
        const phoneInput = document.querySelector("#phone");
        phoneInput.addEventListener("input", () => {
            const phoneErrorBox = document.getElementById("phone-errorbox");
            phoneErrorBox.innerHTML = '';
        });

        //Add event listener the passwd box 
        passwordInput.addEventListener("input", () => {
            const passwdErrorBox = document.getElementById("passwd-errorbox");
            passwdErrorBox.innerHTML = '';
        });

        //Add event listener the passwd box 
        confirmpasswordInput.addEventListener("input", () => {
            const confirmpasswdErrorBox = document.getElementById("confirm-passwd-errorbox");
            confirmpasswdErrorBox.innerHTML = '';
        });


        //For the Int phone format
        window.intlTelInput(phoneInput, {
            preferredCountries: ["za"],
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
        });


        // for int phone format
        const signupForm = document.querySelector("#signup-form");

        // Add event listener to the signup form submission
        signupForm.addEventListener("submit", function(event) {
            const phoneInput = document.querySelector("#phone");
            const iti = window.intlTelInputGlobals.getInstance(phoneInput);
            const phoneNumber = iti.getNumber();
        
            // Assign the value of phoneNumber to form.phone.data
            phoneInput.value = phoneNumber;
            console.log('phone')
            console.log(phoneInput)
        
            // Submit the form
            signupForm.submit();
        });
      </script>
</body>
</html>
