<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {{ form.csrf_token }}
        <ul>
            <img src="{{url_for('static', filename='lock.svg')}}"></img>
            <h3>Verify OTP</h3>
            <li>
                {{form.otp.label}} 
                {{form.otp}}
            </li>
            
            <li>
                {{ form.submit }}
            </li>
            <a href="{{url_for('passenger_views.home')}}">Don't have an account? Sign Up</a>
            <h1>Asambe</h1>
        </ul>

    </form>
</body>
</html>