<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='passenger/drivers.css')}}">

</head>
<body>
    <header>
        <h1>Active drivers</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <td class="start"><small style="opacity: 0;">.</small></td>
                    <th >Name</th>
                    <th>Vehicle Type</th>
                    <th>Contact</th>
                    <th>Starting Point</th>
                    <th class="end">Ending Point</th>
                </tr>
            </thead>
            <tbody>
                {% for driver in drivers %}
                <tr>
                    <td class="name-img"> 
                        {% if driver.profile_pic != 'default.jpg' %}
                            <img src="{{url_for('static', filename='img/' ~ driver.profile_pic)}}" alt="">
                        {% else %}
                            <img src="{{url_for('static', filename='default.jpg')}}" alt="">
                        {% endif %}
                    </td>
                    <td>{{ driver.firstname }} {{ driver.lastname }} </td>
                    <td>{{ driver.vehicle_type }}</td>
                    <td>{{driver.phone}}</td>
                    <td>{{driver.start_loc}}</td>
                    <td>{{driver.end_loc}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Asambe</td>
                </tr>
            </tfoot>
        </table>
    </div>    
</body>
</html>