<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='passenger/locations.css')}}">
</head>
<body>
    <div class="container">
        <div class="default">
            <p>My default location:</p>
            <div class="inp-btn">
                <input type="text" name="default" id="default" value="{{user.location}}">
                <button type="submit" id="set-default">SET</button>
            </div>
        </div>
        <div class="to">
            <p>I want to travel to:</p>
            <div class="inp-btn">
                <input type="text" name="to" id="to" value="{{user.to}}">
                <button type="submit" id="set-to">SET</button>
            </div>
        </div>
        <div class="from">
            <p>I am trvelling from:</p>
            <div class="inp-btn">
                <input type="text" name="from" id="from" value="{{user.from_loc}}">
                <button type="submit" id="set-from">SET</button>
            </div>
        </div>
    </div>

    <Script>
        const mylocation = document.getElementById('default')
        const to_location = document.getElementById('to')
        const from_location = document.getElementById('from')
        const socket = io.connect()

        document.getElementById("set-to").addEventListener("click", () => {
            const tlocation = to_location.value;
            socket.emit("set-to-location", {tlocation});
        });

        document.getElementById("set-default").addEventListener("click", () => {
            const dlocation = mylocation.value;
            socket.emit("set-default-location", {dlocation})
        });

        document.getElementById("set-from").addEventListener("click", () => {
            const flocation = from_location.value;
            socket.emit("set-from-location", {flocation})
        });
    </Script>
</body>
</html>