<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {{ form.csrf_token }}
        <ul>
            <img src="{{url_for('static', filename='lock.svg')}}"></img>
            <h3>Passenger</h3>
            <h3>Sign in</h3>
            <li>
                {{form.phone.label}} 
                {{form.phone}}
            </li>
            <li>
                {{form.password.label}}
                {{form.password}}
            </li>
            <li>
                {{ form.submit }}
            </li>
            <a href="{{url_for('passenger_auth.forgot_password')}}"><h5>Forgot password</h5></a>
            <a href="{{url_for('passenger_auth.signup')}}"><h5>Don't have an account? Sign Up</h5></a>
            <h1>Asambe</h1>
        </ul>

    </form>

</body>
</html>
