<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='passenger/verify_otp.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="top">
            <button class="back-btn", id="back-btn"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
            <div class="top-center">
                <span class="lock-key"><i class="fa-solid fa-unlock-keyhole"></i></span>
                <h3>Confirm OTP</h3>
            </div>
            <button class="close-btn" id="close-btn">&times;</button>
        </div>
        <form action="" method="post">
            {{ form.csrf_token }}

            <div class="center">
                <ul>
                    <div class="center-items">
                        <li>
                            {{form.otp(placeholder="Enter otp", class="otp")}}
                            {% if form.otp.errors %}
                                <ul id="otp-errorbox">
                                    {% for error in form.otp.errors%}
                                        <li class="error-text">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
    
                        <li>
                            {{ form.submit(class="verify") }}
                        </li>
                    </div>
                </ul>
            </div>
        </form>
        <footer>
            <h1>Asambe</h1>
        </footer>
    </div>
    <script>
        // Add event listener to the back button
        document.getElementById("back-btn").addEventListener("click", function() {
          // Go back to the previous page
          window.history.back();
        });
        

         // Add event listener to the close button
        document.getElementById("close-btn").addEventListener("click", function() {
          // Redirect to the / URL
          window.location.href = "/";
        });

        const otpInput = document.querySelector("#otp");
        otpInput.addEventListener("input", () => {
            const otpErrorBox = document.getElementById("otp-errorbox");
            otpErrorBox.innerHTML = '';
        });

        //<!--Start of Tawk.to Script-->
    
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/647cbcef7957702c744bb600/1h23k42fc';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        
        //<!--End of Tawk.to Script-->
    </script>
</body>
</html>


