<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/index.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
        <div class="left">
            <header>
                <h1>Asambe <br> Admin</h1>
            </header>
            <nav>
                <ul class="nav">
                    <li>
                        <div class="items">

                        </div>
                    </li>
                    <li>
                        <div class="items">
                            <button><i class="fa-solid fa-user-group"></i></button>
                            <h3>Drivers</h3>
                        </div>
                    </li>
                    <li>
                        <div class="items">
                            <button><i class="fa-solid fa-user-group"></i></button>
                            <h3>Passengers</h3>
                        </div>
                    </li>
                    <li>
                        <div class="items">
                            <button><i class="fa-solid fa-comment-dots"></i></button>
                            <h3>Feedback</h3>
                        </div>
                    </li>
                    <li>
                        <div class="items">
                            <button><i class="fa-solid fa-gauge"></i></button>
                            <h3>Statistics</h3>
                        </div>
                    </li>
                    <li>
                        <div class="items">
                           <button><i class="fa-solid fa-gear"></i></button>
                            <h3>Settings</h3>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <section class="top">
                <input type="search" name="search" id="search">
            </section>
            <section class="bottom">
                <div class="bottom-left">

                </div>
                <div class="bottom-right">
                    
                </div>
            </section>
        </div>
</body>
</html>