<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Passengers</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>    
        </thead>
        <tbody>
            <tr>
                {% for passenger in passengers %}
                <td>{{ passenger.firstname }}</td>
                <td>{{ passenger.lastname }}</td>
                <td>{{ passenger.phone }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
</body>
</html>